/logseq/.recycle/
/.DS_Store
/logseq/bak/docs/
/logseq/bak/logseq/custom/
/logseq/bak/logseq/export/
/logseq/bak/logseq/config/*.edn
/pages/excalidraw-library-items-storage.md
/logseq/.DS_Store
/logseq/bak/pages/
